---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = 'My Astro Learning Blog';
---

<BaseLayout pageTitle={pageTitle}>
    <p>Here are some posts about my journey learning Astro!</p>
    <ul>
        {allPosts.map((post: any) => <BlogPost title={post.frontmatter.title} url={post.url} />)}
    </ul>
    <h2>This Blog</h2>
        
    <p>This is a blog post.</p>
        
    <p>This is another blog post.</p>
</BaseLayout>