---
const platform = "github";
const username = "dakodonnell";
const currentYear = new Date().getFullYear();
import Social from "./Social.astro";
---
<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
  </style>
<footer class="footer">
  <p>&copy; {currentYear} by DAKO. All Rights Reserved.</p>
  <Social platform="github" username="dakodonnell" />
</footer>